<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p style="font-size: 1.25rem;">Dealership Review</p>
                </div>
                <ul class="nav navbar-right">
                    <li>
                        <a class="btn btn-primary"  href="{% url 'djangoapp:index' %}">Return</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1 style="margin: 1em 0 1em 0 ;">About Us</h1>
            <h4>Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</h4>
        </div>
    </body>

</html>